@using PagedList
@using PagedList.Mvc
@using PMIS.Model
@using PMIS.HelperClass
@model PagedList<MedicalRecord>


<div class="medical-history_content">

    @{
        foreach (var item in Model)
        {

            <div class="post" data-postId="@item.RecordNo">

                <div class="user-block">

                    <span class="texthead">
                        <b>@(Utilities.capfirstletter(item.ActivityName))</b>
                    </span>

                    @{
                        <!-- get number of days pass -->


                        int _days = DateTime.Now.Subtract(item.RecordDate.Value).Days;

                        var noofdayspass = _days > 0 ? "(" + _days + " days ago )" : " ";

                    }


                    <span class="description pull-right" id="daterecorded"> @($"{item.RecordDate.Value.ToString("MMMM dd, yyyy")}  {noofdayspass} ")</span>


                </div>
                <!-- /.user-block -->

                <div class="medical-history">
                    @(new HtmlString(item.RecordDetails))
                </div>
                <div class="mailbox-controls text-left">

                    <a href="#" class="link-chart text-sm mr-2" id="modifychart"><i class="fas fa-edit mr-1"></i> View </a>

                    <a href="#" class="link-chart text-sm mr-2" id="removechart"><i class="fas fa-trash mr-1"></i> Delete </a>

                </div>
            </div>
        <!-- END POST -->
                        }

    }

</div>

<div class="history_paging_container">
    @*<span>Page</span>
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        <span>of</span>
        @Model.PageCount*@

    @Html.PagedListPager(Model, page => Url.Action("MedicalHistory", new { page = page, patientid = ViewBag.patId, phyId = ViewBag.phyId }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "patmedicalrecord" }))
</div>