@using PagedList
@using PagedList.Mvc
@using PMIS.Model
@using PMIS.ViewModels
@model PatientMedicalRecordDetailsViewModel

@Html.HiddenFor(m => m.PatientId, new { @id = "patientid" })
@Html.HiddenFor(m => m.PhyId, new { @id = "phyid" })
@Html.HiddenFor(m => m.AppointmentId, new { @id = "appointmentNo" })
@Html.HiddenFor(m => m.Patient.DoB, new { @id = "patient-info" })

<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Medical History  - <span style="font-size:15px; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;margin-left:15px;color:darkblue;"> @Model.Patient.Firstname @Model.Patient.Lastname / @Model.Phy_abr </span> </h3>


                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <!-- insert medical history paging -->
                        
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1" style="margin-bottom: 10px;">

                            <div class="row">
                                
                                <div class="col-12" id="patmedicalrecord">



                                    @{
                                        Html.RenderPartial("_RecordListPartialView", (PagedList<MedicalRecord>) Model.MedicalRecordList);
                                    }

                                </div>

                            </div>

                          
                        </div>
                        
                        <!-- insert pagelist here -->
                        @*<div class="medical-history-page">
                            <span>Page</span> @(Model.MedicalRecordList.PageCount < Model.MedicalRecordList.PageNumber ? 0 : Model.MedicalRecordList.PageNumber) <span>of</span> @Model.MedicalRecordList.PageCount
                            @Html.PagedListPager(Model.MedicalRecordList, page => Url.Action("MedicalHistory", new {page, id = ViewBag.patId, phyId = ViewBag.phyId}), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() {HttpMethod = "GET", UpdateTargetId = "medicalrecord"}))
                        </div>*@
                       
                        
                        <!-- end-->

                        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                            
                            @*<h3 class="text-primary"><i class="fas fa-paint-brush"></i> AdminLTE v3</h3>*@

                            @{
                                Html.RenderPartial("_PatientProfile", Model.Patient);
                            }



                            <div class="text-center mt-5 mb-3">
                                <button class="btn btn-sm btn-primary" id="addActivity">Add Record</button>
                                <button class="btn btn-sm btn-info" id="view-profile">  View Profile   </button>
                                @*<a href="#" class="btn btn-sm btn-warning">Report contact</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>



<div class="modal fade" id="modal-createRecord">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Medical Record</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-modifyRecord">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Medical Record</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-createMedication">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Medication</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



@section scripts
{
 
    @Scripts.Render("~/Scripts/js_medrecord.js")
}
