@using System.Collections
@using PMIS.ViewModels
@model IEnumerable<AppointmentScheduleViewModel>

@{

    if (Model.Any())
    {
        int i = 1;

        foreach (var item in Model)
        {

            if (!item.BlStat)
            {
                <tr data-apptNo="@item.No">

                    <td>@(item.Iscancelled ? "" : i.ToString())</td>


                    <td>@item.PatientName</td>
                    <td>@(item.Iscancelled ? "Cancelled" : item.Stat)</td>

                    <td class="text-center">

                      

                        @if (item.BlStat)
                        {
                            <button class="btn btn-success btn-sm" disabled="disabled" data-patientId="@item.PatientNo" id="btnconsultationserve">
                                <i class="fal fa-lightbulb-on"></i>
                                Status
                            </button>

                        }

                        else
                        {
                            <button class="btn btn-success btn-sm" data-patientId="@item.PatientNo" id="btnconsultationserve">
                                <i class="fal fa-lightbulb-on"></i>
                                Status
                            </button>


                        }


                        <button class="btn btn-info btn-sm" data-patientId="@item.PatientNo" id="view_medicalrecords" alt="View Medical Record">
                            <i class="fal fa-binoculars"></i>
                            View
                        </button>


                    </td>

                </tr>
            }



            if (item.Iscancelled == false)
            {
                i = i + 1;
            }

        }

    }
    else
    {
        <tr>
            <td colspan="4" class="text-center text-red bg-white"> No Record Found</td>
        </tr>
    }
}



