<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Patient Informations System </title>

    <!-- load styles for doctore layout-->
    @Styles.Render("~/Styles/Css")
    @Styles.Render("~/adminstyle")

    <!-- Google Font: Source Sans Pro -->
    @*<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">*@

</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed">
<div class="wrapper">

<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-success">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="@Url.Content("~/Content/dist/img/AdminLTELogo.png")"
                 alt=""
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">

            <span class="brand-text font-weight-bold text-white-50">PMIS</span>
        </a>
      
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @{
            Html.RenderPartial("_navbar");
        }

        <!-- Right navbar links -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
           
        @{
            Html.RenderAction("UserLogIn","Account",new {area="Doctor"});
        }
          
        </ul>
    </div>
</nav>
<!-- /.navbar -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
       @*@Html.Partial("_BreadCrumbs")*@
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        
        @if (Request.IsAuthenticated)
        {
            @RenderBody()
        }


    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
    </div>
</aside>
<!-- /.control-sidebar -->

    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.1
        </div>
        <strong>PMIS.@DateTime.Now.Year</strong>
    </footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

@Scripts.Render("~/bundles/javascript")

@Scripts.Render("~/bundles/AjaxExtensions")
<script type="text/javascript" src="@Url.Content("~/Content/signalR/jquery.signalR-2.4.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/js_signalAppointment.js")"></script>
    
@RenderSection("scripts", required: false)
    
    
<script type="text/javascript">
    
    const toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000
    });

</script>
</body>
</html>
