@using PMIS.Model
@model Patient

<div class="text-center mb-4">
    <img class="profile-user-img img-fluid img-circle "
         src="~/Content/dist/img/user3-128x128.jpg"
         alt="User profile picture">

</div>
<h3 class="profile-username text-center">@($"{Model.Lastname},{Model.Firstname}")</h3>

<p class="text-muted text-center">Pat. Id: <span class="text-danger">@Model.Pat_Id</span></p>
<br/>
<strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

<p class="text-muted">@($"{Model.AddStreetBrgy},{Model.Muncity},{Model.Province}")</p>
                             
<hr>
<ul class="list-unstyled">
    <li>
        <span class="mr-1"><i class="fas fa-star"></i></span>@($"{Model.DoB.Value:yyyy MMMM dd}")  ( <span class="d-inline-block text-bold" id="get-age"></span> yrs. )
    </li>
    <li>
        <span class="mr-1"><i class="fas fa-stamp"></i></span>@($"{Model.CivilStat}")
    </li>
    <li>
        <span class="mr-1"><i class="fas fa-phone"></i></span>
        @{
            if (!String.IsNullOrEmpty(Model.ContactCell) && !String.IsNullOrEmpty(Model.ContactPhone))
            {
                @($"{Model.ContactCell} , {Model.ContactPhone}")
            }
            else
            {
                @Model.ContactCell
            }
        }

    </li>
    @*<li>
        <span><i class="far fa-fw fa-image "></i> Logo.png</span>
    </li>
    <li>
        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
    </li>*@
</ul>
