<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Patient Informations System </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Styles/Css")
    @*@Styles.Render("~/stylebundles/fullcalendarcss")*@
    @Styles.Render("~/adminstyle")

  

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        @Html.Partial("NavBar")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link navbar-warning">
                <img src="@Url.Content("~/Content/dist/img/PMIS.png")"
                     alt="PMIS v2.0"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-bold text-black-50">PMIS</span>
            </a>
            
            @Html.Partial("SideBar_Left")

            <!-- /.sidebar -->
        </aside>
        
        

        <!-- Content Wrapper. Contains page content -->
        
       
        <div class="content-wrapper">
            
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_Content_Header")
        }

        <section class="content">
                
            @RenderBody()

        </section>

          
        </div>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.1
            </div>
            <strong>PMIS.@DateTime.Now.Year</strong>
        </footer>

    </div>
<!-- ./wrapper -->
    
    <div id="spinn-loader">
        Loading data Pls. wait....
    </div>
    

    @Scripts.Render("~/bundles/javascript")

    @Scripts.Render("~/bundles/AjaxExtensions")
    
    @*@Scripts.Render("~/scriptbundles/fullcalendarjs")*@
    
    
    <script type="text/javascript" src="@Url.Content("~/Content/signalR/jquery.signalR-2.4.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/js_signalAppointment.js")"></script>
    

    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">

        const toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 5000
        });


        $(document).ready(function() {
            //debugger;
            var url = window.location;

            var controller = url.pathname.split('/')[1];

            //console.log(controller);

            $('ul.nav-sidebar a').removeClass('active');

            $('ul.nav-sidebar a').filter(function() {

                //console.log(this.pathname.split('/')[1]);

                return this.pathname.split('/')[1] === controller;

            }).addClass('active');

            $('ul.nav-treeview a').filter(function() {

                return this.pathname.split('/')[1] == controller;


            }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');




        });


        $(document).on('keypress', '.number-only', function (event) {

            if ((event.which !== 46 || $(this).val().indexOf('.') !== -1) && (event.which < 48 || event.which > 57) && (event.which !== 48)) {
                event.preventDefault();
            }
        });

    </script>

</body>
</html>
