

<!-- Sidebar -->
<div class="sidebar">
    
    @if (Request.IsAuthenticated)
    {
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@Url.Content("~/Content/dist/img/user2-160x160.jpg")" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Aladdine Alcala</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Dashboard")" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            @*<i class="right fas fa-angle-left"></i>*@
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Patient")" class="nav-link">
                        <i class="nav-icon fas fa-procedures"></i>
                        <p>
                            Patients
                        </p>
                    </a>
                </li>
                @*<li class="nav-item">
                    <a href="@Url.Action("Index", "Physician")" class="nav-link">
                        <i class="nav-icon far fa-user-md"></i>
                        <p>
                            Physician
                        </p>
                    </a>
                </li>*@

                <li class="nav-item">
                    <a href="@Url.Action("Index", "Appointment")" class="nav-link">
                        <i class="nav-icon fad fa-calendar-check"></i>
                        <p>
                            Appointment
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="@Url.Action("Index", "PatientRecord")" class="nav-link">
                        <i class="nav-icon fal fa-file-medical-alt"></i>
                        <p>
                            Medical Records
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Prescription")" class="nav-link">
                        <i class="nav-icon fal fa-prescription "></i>
                        <p>
                            Prescriptions
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("UsersIndex", "Account")" class="nav-link">
                        <i class="nav-icon fal fa-user-alt"></i>
                        <p>
                            Users
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    }

</div>